.vehicleModal {
    background: rgba(0, 0, 0, 0.75);
    left: 0 !important;
    z-index: 9999999999;
    top: 0 !important;
    position: fixed;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

    &__height {
        height: 100%;
    }

    &__inner {
        position: relative;
        background-color: #ffffff;
        max-width: 500px;
        width: calc(100% - 40px);
        margin: 20px;
    }

    &__item {

        .vehicleItem__content {
            padding-bottom: 30px;
        }
    }

    &__meta {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 15px;
        padding-right: 15px;
    }

    &__close {
        position: absolute;
        right: 0;
        left: auto;
        top: 0;
        bottom: auto;
        z-index: 10;
        padding: 15px;
        font-size: 20px;
        cursor: pointer;
    }
}
