@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

@mixin contentMobileMin {
    @include marginInside(30px);
    text-align: center;
}

@mixin contentMobileMax {
    align-self: center;
    border-bottom: solid 1px $borderColour;
}

@mixin headerBorder {

    &:before,
    &:after {
        content: "";
        position: relative;
        background-color: currentColor;
        height: 2px;
        display: block;
        width: 100%;
    }

    &:before {
        margin-bottom: 3px;
    }

    &:after {
        margin-top: 4px;
    }
}

.vehicleItem {

    &--disableMobileView {

        .vehicleItem__inner {
            @include marginInside(20px);
        }

        .vehicleItem__content {
            @include contentMobileMin;
            @include contentMobileMax;
        }

        .vehicleItem__header {
            @include headerBorder;
        }
    }

    &:not(&--disableMobileView) {

        .vehicleItem__inner {
            @media (min-width: $tabletMinBreakpoint) {
                @include marginInside(20px);
            }

            @media (min-width: $smallMobileMinBreakpoint) and (max-width: $mobileMaxBreakpoint) {
                display: flex;
                flex-wrap: nowrap;
            }
        }

        .vehicleItem__image {

            @media (min-width: $smallMobileMinBreakpoint) and (max-width: $mobileMaxBreakpoint) {
                width: 26.076%;
                flex-shrink: 0;
            }
        }

        .vehicleItem__content {

            @media (min-width: $mobileMinBreakpoint) and (max-width: $tabletMaxBreakpoint) {
                padding-top: 20px;
                padding-bottom: 30px;
            }

            @media (min-width: $mobileMinBreakpoint) {
                @include contentMobileMin;
            }

            @media (max-width: $mobileMaxBreakpoint) {
                @include contentMobileMax;
                padding-left: 40px;
                padding-right: 25px;
                padding-top: 25px;
                padding-bottom: 25px;
            }

            @media (max-width: $smallMobileMaxBreakpoint) {
                padding-left: 25px;
            }
        }

        .vehicleItem__button {

            @media (max-width: $mobileMaxBreakpoint) {
                margin-top: 20px;
            }
        }
    }

    &__image {
        width: 100%;

        &:not(&--noClick) {
            cursor: pointer;
        }
    }

    &__content {
        padding-left: 15px;
        padding-right: 15px;
    }

    &__priceDescription {
        @include marginInside(15px);
    }

    &__price,
    &__description {
        @include vehicleContentText;
    }

    &__header {
        display: inline-flex;
        flex-direction: column;
        color: $headerTextColour;
        font-size: 24px;
        letter-spacing: 2px;
        position: relative;
        margin-top: 0;

        @media (max-width: $mobileMaxBreakpoint) {
            margin-bottom: 5px;
        }

        @media (min-width: $mobileMinBreakpoint) {
            @include headerBorder;
        }
    }

    &__button {
        background-color: $headerTextColour;
        border: none;
        color: white;
        padding: 10px 22px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        cursor: pointer;
    }

    &,
    &__inner {
        height: 100%;
    }
}